repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    exclude: ^examples|^extras|^docs|tests.*|setup.py
# - repo: https://github.com/psf/black
#   rev: 22.6.0
#   hooks:
#   - id: black
#     language_version: python3
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.8.0'
  hooks:
  - id: mypy
    exclude: ^examples|^extras|^docs|tests.*
    additional_dependencies: [packaging, ome-types]
- repo: https://github.com/PyCQA/flake8
  rev: '7.0.0'
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-typing-imports==1.15.0
    language_version: python3
    exclude: "^(build|docs|examples|extras|setup.py)|tests[/]"
- repo: https://github.com/PyCQA/bandit
  rev: '1.7.7'
  hooks:
  - id: bandit
    args: ["-lll", "--ini", ".bandit"]
