#
# Conda devenv environment for paquo
#
# Create the environment, do not install pado in development mode:
#   conda devenv
# equivalent to:
#   PAQUO_DEVEL="" conda devenv
# Create the environment, install pado in development mode:
#   PAQUO_DEVEL=TRUE conda devenv
#

{% set PAQUO_DEVEL = os.environ.get('PAQUO_DEVEL', False) %}
{% set WITH_OME = os.environ.get('WITH_OME', False) %}

name: paquo

channels:
  - sdvillal
  - conda-forge

dependencies:
  - python>=3.6.1
  - pip
  - jpype1>=1.0.1
  - dynaconf>=3,!=3.1.0,!=3.1.7
  - ome-types  # [ WITH_OME ]
  - shapely
  - qupath
  - pytest>=6
  - pytest-cov
  - pip:
    - "-e ."  # [ PAQUO_DEVEL ]
